Game/GToolkit/*/
Game/riivolution/config/

*/bin/
*/dbg/
*/obj/

Modules/
!Modules/GalaxyToolkit/
!Modules/Syati_Init/
!Modules/Syati_ObjectFactories/
!Modules/.moduleignore/
Modules/*/build/
Modules/*/codebuild/

*.vs
*.vscode
*.user
*.old
*.localkeep

*.o
*.d
CustomCode*.bin
*.dol
*.elf
*.map